:css
  .form-horizontal .controls {
  margin-bottom: 15px;
  }
  .form-horizontal .controls a.steps1{
  background: url(/assets/one.jpg) no-repeat;
  width: 2px;
  height: 17px;
  background-size: 25px 25px;
  }
  .form-horizontal .controls a.steps2{
  background: url(/assets/two.jpg) no-repeat;
  width: 2px;
  height: 17px;
  background-size: 25px 25px;  
  }
= form_for @ticket, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :"Step", :class => 'control-label'
    .controls
      = link_to "", new_home_path(:user=>current_user,:type=>"is_cricket"), :class => 'btn btn-primary steps1'
    = f.label :"Start-Date", :class => 'control-label'
    .controls
      = f.text_field :startdate, :class => 'text_field datepicker startdate'
    = f.label :"End-Date", :class => 'control-label'
    .controls
      = f.text_field :enddate, :class => 'text_field datepicker enddate'
      = f.hidden_field :type, :value => params[:type],:class => "event_type"
      = f.hidden_field :user, :value => params[:user],:class => "user_value"
      = f.hidden_field :event_name, :class => 'event_name', :value => params[:name]
  .form-actions
    - if params[:edit_action]
      = link_to "Save", edit_home_path(), :class => 'btn btn-primary'
    - else
      = link_to "Attend", new_home_path(:user=>current_user), :class => 'btn btn-primary attent attent_ticket',:id=>"true"
    = link_to "Cancel", homes_path, :class => 'btn', :id=> "detail_saved"
    %p.foo
      test    
    
    
= form_for Payment.new, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :"Step", :class => 'control-label'
    .controls
      = link_to "", new_home_path(:user=>current_user,:type=>"is_cricket"), :class => 'btn btn-primary steps2'
    = f.label :"Amount", :class => 'control-label'
    .controls
      = f.text_field :amount, :class => 'text_field',:readonly => true, :value => @amount
      %p{:style=>"color:#666;font-size:10px;"}
        = "Event price $#{@amount} convert to doller"
    = f.label :"Discount", :class => 'control-label'
    .controls
      = f.text_field :discount, :class => 'text_field',:readonly => true,:value=> @gender
      = "%"
      %p{:style=>"color:#666;font-size:10px;"}
        = "User gets a 5% discount on the ticket if gender is female"
    = f.label :"Total", :class => 'control-label'
    .controls
      = f.text_field :total, :class => 'text_field', :readonly => true
    = f.label :"Card Type", :class => 'control-label'
    .controls
      = f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], :class => 'text_field'
    = f.label :"Card Number", :class => 'control-label'
    .controls
      = f.text_field :card_num, :class => 'text_field'
    = f.label :"CCV Number", :class => 'control-label'
    .controls
      = f.text_field :ccv, :class => 'text_field'
    = f.label :"Month", :class => 'control-label'
    .controls
      = f.select :month, options_for_select(@months)
    = f.label :"Year", :class => 'control-label'
    .controls
      = f.select :year, options_for_select(@year)
    = f.hidden_field :ticket_id,:class => "ticket_value"
  .form-actions
    = f.submit "Save Payment", :class => 'btn btn-primary'
    = link_to "Cancel", homes_path, :class => 'btn', :id=> "payment_alert"
    %p.foo1
      test    
