- model_class = Home
.page-header
  %h2=t '.title', :default => "Event Pricings"
%table.table.table-striped
  %thead
    %tr
      %th= "Events"
      %th= "Pricings"
  %tbody
    %tr
      %td=  "Cricket"
      %td=  "$1250"
    %tr
      %td=  "Foot Ball"
      %td=  "$1150"
    %tr
      %td=  "Volley Ball"
      %td=  "$1050"
    %tr
      %td=  "Tennis"
      %td=  "$950"
    %tr
      %td=  "Hockey"
      %td=  "$1020"

