- model_class = Home
.page-header
  %h2=t '.title', :default => "All Events"
%table.table.table-striped
  %thead
    %tr
      %th= "Events"
      %th= "Event Status"
      %th= "Action"
  %tbody
    - @today.each do |e|
      %tr
        %td=  e.event_name
        %td
          =  "Play now"
        %td= link_to "Show Event", home_path(:id=>e.id), :class => 'btn btn-primary'      

