<!DOCTYPE html>
<html>
<head>
  <title>Sports Events</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Sports Events</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home",homes_path %></li>
            <% if user_signed_in? %>
              <% @count = Ticket.where('user_id = ?',current_user.id).count %>
              <% @expire = current_user.tickets.where("enddate < ?",Date.today).count %>
              <% @today = current_user.tickets.where("enddate = ?",Date.today).count %>
              <li><%= link_to "User Events(#{@count})", all_events_path %></li>
              <li><%= link_to "Event Expires(#{@expire})",event_expires_path %></li>
              <li><%= link_to "Today's Event(#{@today})",todays_event_path %></li>
            <% else %>
              <li><%= link_to "User Events", all_events_path %></li>
              <li><%= link_to "Event Expires",event_expires_path %></li>
              <li><%= link_to "Today's Event",todays_event_path %></li>
            <% end %>
            <li><%= link_to "Price List",price_list_path %></li>
            <li><%#= link_to "Cart" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>  
    <div class="row">
      <div class="span8"><%= yield %></div>
      <div class="span4">
        <h2>About Me</h2>
        Highly motivated and technically competent software professional with 1.2 Years of Experience in RUBY ON RAILS . Seeking challenging assignment as a Software Engineer.
        Extensive knowledge of Web development, from concept through implementation and optimization.
Special concentration in RoR application framework and Ruby language.
Self-motivated worker with strong focus on business goals and end-user experience.
Excellent verbal and written communication skills.
      </div>
    </div>
  </div>
</body>
</html>
